<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
  <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/ngDialog/js/ngDialog.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

</head>
<body ng-app="jsTestCreatorApp" ng-controller="fileServiceCtrl" ng-cloak>

<div style="margin: 20px">
  <div class="header" style="height: 130px">
    <h3>Test Creator</h3>
    <div id="searcher" class="no-print">
      <div style="margin-left: 50px; margin-bottom: 10px">
        <input type="file" id="fileinput"/>
      </div>
      <div style="float:left; margin-left: 50px">
        <input type="number" step=10 ng-model="data.number" ng-change="data.generate()" style="width:60px"/>
      </div>
      <div style="float:left; margin-left: 5px; margin-bottom: 30px">
        <input type="button" id="refresh" ng-click="data.generate()" value="Losuj"/>
      </div>
      <div style="float: left; margin-left: 50px; margin-bottom: 30px">
        <input type="button" id="validateButtonTop" ng-click="data.getScore()" value="Sprawdź"/>
      </div>
    </div>
  </div>

  <div class="container" style="clear: both; float: left">
    <div id="questions">
      <div ng-repeat="q in data.randomQuestions" style="margin-bottom: 15px">
        <p><b>{{q.question}}</b></p>
        <p ng-repeat="a in q.answers">
          <input class="bigCheck" type="checkbox" ng-model="data.providedAnswers[a.id]" style="width: 20px"/>
          <span ng-show="a.isIncorrect" style="text-decoration: line-through; color: red; font-weight: bold"> {{a.answer}}</span>
          <span ng-hide="a.isIncorrect"> {{a.answer}}</span>
        </p>
      </div>
    </div>
  </div>

  <div style="clear: both; margin-left: 50px; margin-bottom: 30px">
    <input type="button" id="validateButtonBottom" ng-click="data.getScore()" value="Sprawdź"/>
  </div>

  <div class="footer" style="clear: both">
    <div class="container">
      <p>by gumiz</p>
    </div>
  </div>

</div>


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/fileService.js"></script>
<script src="scripts/services/arrayrandomizer.js"></script>
<script src="scripts/services/fileloaderservice.js"></script>
<script src="scripts/services/resultpresenterservice.js"></script>
<script src="scripts/services/scorecounterservice.js"></script>
<script src="scripts/services/dialogService.js"></script>
<!-- endbuild -->
</body>
</html>
